<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div class="Blogs content">
            <h2>
                About Page
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis erat dolor. Proin sed mauris blandit, molestie dui at, imperdiet risus. Mauris eu ipsum nulla. Proin laoreet, ex eget sollicitudin tempor, nisi magna hendrerit tellus, nec dictum massa felis ut neque. Integer lacinia elit at magna tincidunt, sit amet auctor purus malesuada. Integer ut aliquet purus. Vivamus condimentum blandit faucibus. Phasellus posuere eleifend lorem nec varius. Pellentesque rutrum diam ut velit placerat, eget pulvinar est tincidunt. Sed dapibus scelerisque leo, eget commodo quam aliquet at. Pellentesque quis nulla vel ligula tristique viverra quis vel arcu. Maecenas ornare iaculis dui quis interdum.</p>
        </div>
        <%- include("./partials/footer.ejs") %>
        <script src="" async defer></script>
    </body>
</html>